# Скопіюй цей файл в .env і заповни своїми значеннями

# WayForPay checkout URL (тест або продакшн)
VITE_WFP_CHECKOUT_URL=https://secure.wayforpay.com/pay

# Базовий URL бекенду
VITE_API_BASE_URL=http://localhost:5000/api
